.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.menu__container {
    color: white;
    position: absolute;
    left: 1rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.logo__container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.logo__container img {
    width: 2.25rem;
    height: 2.25rem;
    margin-right: 0.5rem;
}

.logo__container p {
    margin: 0;
    font-size: 1.25rem;
}